backend/node_modules
groupmania/node_modules
frontend/node_modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

groupmania/.pnp
groupmania/.pnp.js

# testing
groupmania/coverage

# production
groupmania/build

# misc
backend/package-lock.json
backend/.env
groupmania/.DS_Store
groupmania/.env.local
groupmania/.env.development.local
groupmania/.env.test.local
groupmania/.env.production.local

groupmania/npm-debug.log*
groupmania/yarn-debug.log*
groupmania/yarn-error.log*
