
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo img, #account {
    flex-basis: 50%;
}
#logo img {
    max-width: 200px;
    max-height: 250px;
    text-align: left;
}
#account {
    text-align: right;
}

.divAccount {
    display: flex;
    flex-direction: column;
}

.navAccount {
    color: red; 
    & li {
        list-style: none;
    }
}






