
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo img, #account {
    flex-basis: 50%;
}
#logo img {
    max-width: 200px;
    max-height: 250px;
    text-align: left;
}
#account {
    text-align: right;
}

.divMenu {
    display: flex;
    flex-direction: column;
}

.navMenu {
    color: rgb(162, 8, 252); 
    & li {
        list-style: none;
    }
}

.ulMenuAccount {
    cursor: pointer;
    & a, path {
        background:rgb(162, 8, 252);
        color: white;
        fill: white;
    }
    & > li:hover .ulSubMenu li {
        transform: scale(1);
    }
    & li:hover .ulSubMenu {
        transform: scale(1);
    }
}

.ulSubMenu {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;

    & li {
        color:rgb(162, 8, 252);
        //border-bottom: 1px solid rgb(162, 8, 252);
        transform: scale(0);
        transform-origin: top center;
        transition: all 300ms ease-in-out;
    }
    & li:last-child {
        border-bottom: black;
    }
    & li:hover {
        //background:rgb(162, 8, 252);
        color: white;
        & a {
            background:rgb(162, 8, 252);
            color: white;
        }
    }
}

#logout {
    &:hover {
        color: white;
        background-color: rgb(162, 8, 252);
    }
    & svg > path {
        fill: white !important;
    }
}








